scikit-learn>=1.3
pandas >= 1
matplotlib
seaborn >= 0.13
plotly

# Not needed for local VSCode env
# jupyterlab
# notebook
# IPython

ipykernel # Needed for local VSCode
pyarrow   # Needed for pandas future release
